<head>
    <link rel="stylesheet" type="text/css" href="/../css/style.css" />
</head>

<body>
    <form action="" method="post">
        <div class="headerTabs">
            <input type="submit" name="shoes" value="Shoes" class="headerButtons">
            <input type="submit" name="shoes" value="About" class="headerButtons">
            <input type="submit" name="shoes" value="Contact" class="headerButtons">
        </div><br><br> Available catalogue: <br><br>
        <table>
            <tr>
                <th></th>
                <th>Brand</th>
                <th>Color</th>
                <th>Price</th>
                <th>Size</th>
            </tr>
            {{#each shoesResult}}
                <tr>
                    <td><input type="checkbox" name="chosenShoes" value="{{_id}}"></td>
                    <td>{{brand}}</td>
                    <td>{{color}}</td>
                    <td>R{{price}}</td>
                    <td>
                    <select class="" name="sizes">
                      <option selected value="none" hidden>Select</option>
                      {{#each sizes}}
                      <option value="{{size}}"{{sizeCheck this}}>{{size}}</option>
                      {{/each}}
                    </select>
                  </td>
                </tr>
            {{/each}}
        </table>
        <br><br>
        <div class="orderButton">

        <input type="submit" class="orderButton"name="orderStock" value="Place my order">
      </div>
        <br><br>
        <div class="">
            Add new stock:<br>
            <input type="text" name="newBrand" placeholder="Brand name">
            <input type="text" name="newColor" placeholder="Color">
            <input type="text" name="newPrice" placeholder="Price">
            <input type="text" name="newSizes" placeholder="Sizes Available"><br><br>
            <input type="submit" name="addNewStock" value="Add stock"><br><br>
        </div>

    </form>
</body>
